<mn-element-cargo depot="header">{{ getClusterIdentifier() }}</mn-element-cargo>
<mn-back-btn [navigate]="'../clusters'"></mn-back-btn>
<div class="global-spinner" *ngIf="loading"></div>

<div *ngIf="cluster" class="padding-right-min">
  <form [formGroup]="logForm" (ngSubmit)="getLogFile()" id="logForm" class="forms">
    <div class="formrow row flex-left">
      <label for="logFile" class="inline width-1 margin-right-1">Log:</label>
      <span class="simple-select width-5 margin-right-1" name="logFile">
        <select formControlName="logFile">
          <option *ngFor="let log of logs" [ngValue]="log">{{ log }}</option>
        </select>
      </span>
      <label for="node" class="inline width-1 margin-right-1">Node:</label>
      <span class="simple-select width-5 margin-right-1" name="node">
        <select formControlName="node">
          <option *ngFor="let node of cluster.nodes_summary" [ngValue]="node.node_uuid">{{ node.host }}</option>
        </select>
      </span>
      <button class="width-2" [disabled]="logForm.invalid || submitting" type="submit" form="logForm">
        <div class="button-spinner" *ngIf="submitting; else addSpan">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <ng-template #addSpan>Get</ng-template>
      </button>
    </div>
  </form>
</div>
<div class="scrollable margin-top-half monospaced" *ngIf="logOut">
  {{ logOut }}
</div>