tags
.envrc
.idea/
build/
!agent/build/
!cluster-monitor/build/
data/
priv/
ui/.vscode/settings.json
./logs/
.vscode/
.gitreview
dist/
test-dist/

# These are added by manifest - ensure we don't accidentally commit their contents.
upstream/fluent-bit/
upstream/couchbase-fluent-bit/
