[submodule "upstream/cbmultimanager"]
	path = upstream/cbmultimanager
	url = git@github.com:couchbaselabs/cbmultimanager.git
[submodule "upstream/couchbase-fluent-bit"]
	path = upstream/couchbase-fluent-bit
	url = git@github.com:couchbase/couchbase-fluent-bit
