examples/containers/logs/*.log
microlith/alertmanager/slack_url
# Build output
git-commit.txt
build/
dist/
bin/
test-dist/
# Documentation output
.cache/
microlith/docs/
tools/tern/
tools/tern-output*
# config-svc build
microlith/config-svc
# Test
*-actual.yaml
microlith/Dockerfile.oss
tools/bats/
testing/resources/native/vagrants
testing/resources/native/hosts.ini
testing/.vagrant
testing/bats/integration/kubernetes/resources/default-microlith.yaml
.DS_Store
