<header class="space-between">
  <div class="flex-display flex-start">
    <a [routerLink]="['/clusters']" [queryParamsHandling]="'preserve'" class="logobug-wrapper">
      <img src="/monitor/assets/cb_logo_bug_white_2.svg" width="48" height="48" alt="Couchbase Server"
        class="logobug" title="Couchbase Multi-Cluster Manager" />
    </a>
    <h1>Multi Cluster Manager</h1>
    <div class="flex-display align-self-center flex-left">
      <mn-element-depot name="header"></mn-element-depot>
    </div>
  </div>

  <!-- Depots are the placeholders for page-specific controls/content -->
  <div class="flex-display flex-right padding-right-min">
    <mn-element-depot name="actions" class="row"></mn-element-depot>
    <span class="menu-icon" ng-click="showRespMenu = !showRespMenu">
      <span class="icon fa-navicon"></span>
    </span>
  </div>
</header>

<mn-element-depot name="subnav"></mn-element-depot>
<div class="alert-wrapper fix-position-bl">
  <div *ngFor="let alert of alerts" class="animate-alert alert" [ngClass]="['alert-' + alert.type]">
    <p>{{ alert.message }}</p>
    <a (click)="removeAlert(alert)" class="close">X</a>
  </div>
</div>

<main>
  <nav [hidden]="!showNav" class="nav-sidebar">
    <a [routerLink]="['/clusters']" [queryParamsHandling]="'preserve'" routerLinkActive="currentnav">Overview</a>
    <a [routerLink]="['/dismissals']" [queryParamsHandling]="'preserve'" routerLinkActive="currentnav">Dismissals</a>

    <div class="sidebar-closer" title="hide sidebar" (click)="showNav = false">
      <span class="icon fa-chevron-left"></span>
    </div>
  </nav>

  <div (click)="showNav = true" class="sidebar-opener" [ngClass]="{ show: !showNav }" title="show sidebar">
    <span class="icon fa-chevron-right"></span>
  </div>

  <div class="width-12">
    <router-outlet></router-outlet>
  </div>
</main>