<div *ngIf="paginator.contentLength() > 0" class="cbui-table">
  <div class="cbui-table margin-top-half">
    <div class="cbui-table-header">
      <span class="cbui-table-cell">Host</span>
      <span class="cbui-table-cell">Version</span>
      <span class="cbui-table-cell">Services</span>
      <span class="cbui-table-cell">Status</span>
    </div>
    <section
      *ngFor="let node of paginator.getPage()"
      (click)="expanded.set(node.node_uuid, !expanded.get(node.node_uuid))"
    >
      <div class="cbui-tablerow has-hover" [ngClass]="[getNodeStatusHealth(statuses, '', node.node_uuid)]">
        <span class="cbui-table-cell"
          ><a href="{{ node.host }}">{{ node.host }}</a></span
        >
        <span class="cbui-table-cell">{{ node.version | formatVersion }}</span>
        <span class="cbui-table-cell wrap">
          <span *ngFor="let service of node.services" class="label neutral nocaps">{{ service }}</span>
        </span>
        <span class="cbui-table-cell" [ngClass]="nodeHealthTextColour(node)">
          {{ node.status }} - {{ node.cluster_membership }}
        </span>
      </div>
      <div
        class="cbui-tablerow-exapanded margin-bottom-1"
        *ngIf="expanded.get(node.node_uuid)"
        (click)="$event.stopPropagation()"
      >
        <app-checker-table
          [inner]="true"
          [statuses]="filterByStatus(getNodeStatusResults(node.node_uuid))"
          [definitions]="definitions"
          [(expandedResults)]="expandedResults"
          (dismissEvent)="dismiss($event)"
        ></app-checker-table>
      </div>
    </section>
    <div class="margin-top-1">
      <ngb-pagination
        class="d-flex justify-content-end"
        size="sm"
        [collectionSize]="paginator.contentLength()"
        [(page)]="paginator.currentPage"
        [pageSize]="paginator.pageSize"
        [maxSize]="3"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
      >
      </ngb-pagination>
    </div>
  </div>
</div>
