<mn-element-cargo depot="actions">
  <div class="header-controls">
    <a id="addHealthCluster" class="outline resp-hide-sml" (click)="openAddClusterModal()"> ADD CLUSTER </a>
  </div>
</mn-element-cargo>
<div class="global-spinner" *ngIf="loading"></div>
<div class="main-content width-12 padding-right-min">
  <div class="zero-content" *ngIf="!loading && !hasClusters">
    No clusters registered. Click "ADD CLUSTER" to register a Couchbase Cluster.
  </div>
  <div *ngIf="hasClusters">
    <div class="row">
      <div>
        By:
        <span class="simple-select">
          <select [ngModel]="sortField" (ngModelChange)="updateSortBy($event)">
            <option [ngValue]="'Name'">Name</option>
            <option [ngValue]="'Versions'">Versions</option>
            <option [ngValue]="'Nodes'">Nodes</option>
            <option [ngValue]="'Critical'">Critical</option>
            <option [ngValue]="'Warnings'">Warnings</option>
          </select>
        </span>
        <i
          class="icon margin-left-half grayblack-2 has-hover"
          [ngClass]="{ 'fa-arrow-up': sortAscending, 'fa-arrow-down': !sortAscending }"
          (click)="sortOrderToggle()"
        ></i>
      </div>
      <div>
        <input
          type="text"
          placeholder="Search..."
          [ngModel]="searchTerms"
          (ngModelChange)="searchTermSubject.next($event)"
        >
      </div>
    </div>
    <div class="cbui-table margin-left-half">
      <div class="cbui-table-header">
        <div class="cbui-table-cell flex-grow-2">Cluster</div>
        <div class="cbui-table-cell flex-grow-2 sorter">Name</div>
        <div class="cbui-table-cell flex-grow-1">Versions</div>
        <div class="cbui-table-cell flex-grow-1">Nodes</div>
        <div class="cbui-table-cell flex-grow-1">Services</div>
        <div class="cbui-table-cell">Critical</div>
        <div class="cbui-table-cell">Warnings</div>
        <div class="cbuit-table-cell flex-grow-1"></div>
      </div>
      <section
        *ngFor="let cluster of paginator.getPage()"
        [ngClass]="['has-hover', getHealth(cluster)]"
        (click)="expanedCluster.set(cluster.uuid, !expanedCluster.get(cluster.uuid))"
      >
        <div class="cbui-tablerow">
          <div class="cbui-table-cell flex-grow-2">
            <i
              class="icon fa-heartbeat red-0 margin-right-half"
              *ngIf="cluster.heart_beat_issue"
              [ngbTooltip]="heartBeatMessage(cluster.heart_beat_issue)"
            ></i>
            <a href="{{ getHost(cluster) }}">{{ getHost(cluster) }}</a>
          </div>
          <div class="cbui-table-cell flex-grow-2">{{ cluster.name || '-' }}</div>
          <div class="cbui-table-cell flex-grow-1">{{ getVersions(cluster) }}</div>
          <div class="cbui-table-cell flex-grow-1">{{ cluster.nodes_summary.length }}</div>
          <span class="cbui-table-cell wrap flex-grow-1">
            <span *ngFor="let service of getServices(cluster)" class="label neutral nocaps">{{ service }}</span>
          </span>
          <div class="cbui-table-cell">{{ getStatusCounter(cluster, 'alerts') }}</div>
          <div class="cbui-table-cell">{{ getStatusCounter(cluster, 'warnings') }}</div>
          <div class="cbui-table-cell flex-grow-1 flex-right text-right">
            <i
              class="icon fa-refresh margin-right-half grayblack-2"
              (click)="refreshCluster(cluster.uuid); $event.stopPropagation()"
            ></i>
            <i class="icon fa-trash grayblack-2" (click)="deleteCluster(cluster.uuid); $event.stopPropagation()"></i>
          </div>
        </div>
        <div class="cbui-tablerow-expanded" *ngIf="expanedCluster.get(cluster.uuid)" (click)="$event.stopPropagation()">
          <div class="row error" *ngIf="cluster.heart_beat_issue">
            {{ heartBeatMessage(cluster.heart_beat_issue) }} - Last updated {{ cluster.last_update }}
          </div>
          <app-nodes-table [nodes]="cluster.nodes_summary"></app-nodes-table>
          <div class="row flex-left margin-top-half">
            <button [queryParamsHandling]="'preserve'" [routerLink]="[cluster.uuid, 'status']">Checkers</button>
            <button [queryParamsHandling]="'preserve'" [routerLink]="[cluster.uuid, 'connections']">Connections</button>
            <button [queryParamsHandling]="'preserve'" [routerLink]="[cluster.uuid, 'logs']">Logs</button>
            <button class="outline" type="button" (click)="openEditClusterModal(cluster.uuid)">Edit</button>
          </div>
        </div>
      </section>
    </div>
    <ngb-pagination
      class="d-flex justify-content-end"
      size="sm"
      [collectionSize]="paginator.contentLength()"
      [(page)]="paginator.currentPage"
      [pageSize]="paginator.pageSize"
      [maxSize]="3"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
    >
    </ngb-pagination>
  </div>
</div>
