<div class="sign-in-background"></div>
<div class="row flex-center items-top dialog_main_wrapper">
  <div>
    <div class="panel dialog-med dialog">
      <div class="panel-header flex-left">
        <img src="/static/assets/cb_logo_bug_white.svg" width="40" height="40" class="logobug" alt="Couchbase Server" />
        <h2>New Couchbase Manager</h2>
      </div>
      <form [formGroup]="initForm" class="forms" (ngSubmit)="submitForm()" novalidate>
        <div class="panel-content">
          <div [hidden]="!this.submitErr" class="error error-form">
            {{ this.submitErr }}
          </div>
          <div class="formrow">
            <label for="root-username-input">Root Username</label>
            <input
              autocorrect="off"
              spellcheck="false"
              autocapitalize="off"
              type="text"
              id="root-username-input"
              name="username"
              placeholder="Username"
              formControlName="user"
              required
            />
            <div [hidden]="!initForm.get('user')?.dirty" class="error error-field">
              <div [hidden]="!initForm.get('user')?.errors?.required">Username is required.</div>
            </div>
          </div>
          <div class="formrow">
            <label for="root-password-input">Create Password</label>
            <input
              type="password"
              autocorrect="off"
              spellcheck="false"
              id="root-password-input"
              name="password"
              placeholder="Password"
              formControlName="password"
              required
            />
            <div [hidden]="!initForm.get('password')?.dirty" class="error error-field">
              <div [hidden]="!initForm.get('password')?.errors?.required">Password is required.</div>
            </div>
          </div>
          <div class="formrow">
            <label for="root-password-confirm-input">Confirm Password</label>
            <input
              type="password"
              autocorrect="off"
              spellcheck="false"
              id="root-password-confirm-input"
              name="passwordConfirm"
              placeholder="Password"
              formControlName="passwordConfirm"
              required
            />
            <div [hidden]="!initForm.get('password')?.dirty" class="error error-field">
              <div [hidden]="!initForm.errors?.passwordMismatch">Passwords do not match</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button [disabled]="initForm.invalid" type="submit">Initialize</button>
        </div>
      </form>
    </div>
  </div>
</div>
