<div *ngIf="paginator.contentLength() > 0; else noContentBlock">
  <div class="cbui-table" [ngClass]="{ 'inner-table': inner }">
    <div class="cbui-table-header">
      <div class="cbui-table-cell" [ngClass]="{ 'text-fine': inner }">Title</div>
      <div class="cbui-table-cell" [ngClass]="{ 'text-fine': inner }">Status</div>
      <div class="cbui-table-cell" [ngClass]="{ 'text-fine': inner }">Time</div>
      <div class="cbui-table-cell flex-grow-1"></div>
    </div>
    <div [ngClass]="{ 'cbui-table-body': inner }">
      <section *ngFor="let status of paginator.getPage()" class="flex-column">
        <div
          class="cbui-tablerow"
          (click)="toggleExpand(status)"
          [ngClass]="['cbui-tablerow', statusToHealth(status.result.status), 'has-hover']"
        >
          <span class="cbui-table-cell">{{ getCheckerTitle(status.result.name) }}</span>
          <span class="cbui-table-cell">{{ status.result.status }}</span>
          <span class="cbui-table-cell">{{ status.result.time }}</span>
          <span class="cbui-table-cell flex-grow-1 text-right">
            <span
              (click)="$event.stopPropagation();dismiss(status)"
              placement="left"
              ngbTooltip="Dismiss checker"
              class="material-icons grayblack-1">
              snooze</span>
          </span>
        </div>
        <span class="cbui-tablerow-expanded status-description flex-column margin-bottom-1" *ngIf="isExpanded(status)">
          <span class="row flex-left pre-wrap"><strong>Status: </strong>{{ status.result.status }}</span>
          <span class="row flex-left pre-wrap"
            ><strong>Description: </strong>{{ getCheckerDesription(status.result.name) }}</span
          >
          <span class="row flex-left pre-wrap" *ngIf="status.result.remediation">
            <strong>Remediation: </strong>{{ status.result.remediation }}
          </span>
          <span class="flex-column flex-left" *ngIf="status.result.value">
            <div class="no-border"><strong>Value:</strong></div>
            <span
              ><code>{{ status.result.value | json }}</code></span
            >
          </span>
        </span>
      </section>
    </div>
  </div>
  <ngb-pagination
    class="d-flex justify-content-end"
    size="sm"
    [collectionSize]="paginator.contentLength()"
    [(page)]="paginator.currentPage"
    [pageSize]="paginator.pageSize"
    [maxSize]="3"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
  >
  </ngb-pagination>
</div>
<ng-template #noContentBlock>
  <div class="zero-content row items-space-around">No status checkers. Check filters.</div>
</ng-template>
